@CHARSET "UTF-8";

body {
	font-size: 12px; 
	text-align: center;
	margin: 0 auto;
	background-image: url('../module/111.png');
	background-position: right top;
	background-repeat : repeat;
	margin-top:100px;
}

table {
	font-size: 12px;
	text-align: center;
	border: 1px solid black;
	margin: 0 auto;
}

select {
	font-size: 12px; 
}

form {
	font-size: 12px; 
}

p{
	font-weight: bold;
	font-size: 20px;
}